{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : Iniciar sesión{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>

    <label for="inputUsername">Nombre de usuario de Habbo.es</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
           class="form-control" required autofocus placeholder="Tu nick en Habbo.es">

    <label for="inputPassword">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary" type="submit">
        <i class="fi-rr-sign-in"></i> Entrar
    </button>

    <a href="/registro" class="btn-register-link">¿Aún no tienes cuenta? Regístrate</a>
</form>
{% endblock %}
