{% extends 'base.html.twig'%}

{% block title %} {{ site_name }} : Registro {% endblock %}
{% block body %}
<h1>Registrarse</h1>
    <div class="registration--content flx-row">

    {{ form_start(register_form, {'attr': {'id': 'register-form'}}) }}
    {{ form_widget(register_form) }}
        <button type="submit" class="btn btn-primary">Crear mi cuenta</button>
    {{ form_end(register_form) }}

        <img src="https://images.habbo.com/habbo-web/america/fr/assets/images/teaser_registration.d401d183.png" alt="Registro">

    </div>

{% endblock %}
